h3.center About Me
h4.center (Under Construction)
p.col-xs-12
    | &emsp; &emsp; My name is Shawn. I like working on hard problems with smart coworkers.
    | I started college as a physics major and switched to computer science at the end of my
    | junior year. I write APIs, web scrapers, and full websites (front to back) with Node, Python
    | and the MEAN stack. I also like to tinker with an Arduino or two when I have the time.
    | If I'm not programming, I'm probably playing guitar \m/.

h4.col-xs-4 What This Site Is:
p.col-xs-12
    | &emsp; &emsp; This is my demo/playground site. I use it to host demo apps for prospective
    | employers, play with new tech, features, frameworks and test my side projects.
    | This website is a single page application written in Angular 1.4 with Node/Express
    | and Mongo on the backend. I used Angular 1.4 because ng-strap has bugs with 1.5.
    | I will convert the site to Angular 2 when their docs stop saying things like
    | 'This needs documentation'. Note: My side projects aren't on here yet.

h4.col-xs-4 What This Site Is Not:
p.col-xs-12
    | &emsp; &emsp; This is not a production website. While I do consider things like
    | algorithmic efficiency, slow connections, responsiveness, cross-browser compatibility and
    | security, I am only one man. I follow the 80-20 rule and prioritize tasks that will make
    | the largest improvement in the least time.

h4.col-xs-4 Prospective Employers:
p.col-xs-12
    | &emsp; &emsp; If you have any requests or suggestions, feel free to report bugs and make a feature requests
    | through the 'Contact' page or at https://bitbucket.org/scarrick68/demo-site. The repo is
    | public so feel free to look around.