div.col-xs-12.col-md-12.col-lg-12
	h3 Distance Between US Airports
	form.form-horizontal(ng-submit='airportDistance(origin, destination)')
		div.form-group
			label.col-xs-3.col-md-1.col-lg-1 Origin:*
			div.col-xs-9
				input.col-xs-9.col-md-6.col-lg-4.autosuggesttextbox(type='text' placeholder='Enter Origin Airport' ng-model='origin' bs-options='airport.name for airport in airports' bs-typeahead required)
		div.form-group
			label.col-xs-3.col-md-1.col-lg-1 Destination:*
			div.col-xs-9
				input.col-xs-9.col-md-6.col-lg-4.autosuggesttextbox(type='text' placeholder='Enter Destination Airport' ng-model='destination' bs-options='airport.name for airport in airports' bs-typeahead required)
		button.btn.btn-success.strong-button(type='submit' analytics-on='click' analytics-event='Airport Distance') Distance

div.row
	div.col-xs-12.map.push-down
		ui-gmap-google-map(center='map.center' zoom='map.zoom')
			ui-gmap-polyline(ng-if='haveCoordinates' geodesic='true' path="path" stroke="stroke" visible="visible" fit='true')
		h6 Distance: {{nauticalMiles}} Nautical Miles, {{miles}} Miles, {{kilometers}} Kilometers
		button.btn.btn-success.strong-button(ng-if='haveCoordinates' ng-click='flightInfo()' analytics-on='click') Flight Info
		div.alert.alert-danger(role='alert' ng-show='error') {{error}}