h3 Contact Me Page
div.col-xs-12
    form.form-horizontal(ng-submit='contactMe(name, returnEmail, company, subject, msg)')
        div.form-group
            label.col-xs-4.col-md-1.col-lg-1 Name:*
            div.col-xs-8
                input.col-xs-8.col-md-6.col-lg-4(type='text' ng-model='name' required)
        div.form-group
            label.col-xs-4.col-md-1.col-lg-1 Your Email:*
            div.col-xs-8
                input.col-xs-8.col-md-6.col-lg-4(type='text' ng-model='returnEmail' required)
        div.form-group
            label.col-xs-4.col-md-1.col-lg-1 Company:*
            div.col-xs-8
                input.col-xs-8.col-md-6.col-lg-4(type='text' ng-model='company' required)
        div.form-group
            label.col-xs-4.col-md-1.col-lg-1 Subject:*
            div.col-xs-8
                input.col-xs-8.col-md-6.col-lg-4(type='text' ng-model='subject' required)
        div.form-group
            label.col-xs-4.col-md-1.col-lg-1 Message:*
            div.col-xs-8
                textarea.col-xs-8.col-md-6.col-lg-4(rows='6' ng-model='msg' required)
        div.form-group
            button.btn.btn-success.strong-button(type='submit' ng-disabled='sending' analytics-on='click') Contact Me.
    div.alert.alert-danger(role='alert' ng-show='error') {{error}}
    div.alert.alert-info(role='alert' ng-show='success') {{success}}
    img.loading(src='/images/loading.gif' ng-if='sending')