h3 Enter Trip Details
h6 (Must select airport from dropdown)
form.form-horizontal
    div.form-group
        label.col-xs-4.col-md-1 Round Trip:
            input.checkbox-space(type='checkbox' ng-model='roundTrip' ng-change='checked(true)' analytics-on='click' analytics-event='round trip')
        label.col-xs-4.col-md-1 One Way:
            input.checkbox-space(type='checkbox' ng-model='oneWay' ng-change='checked(false)' analytics-on='click' analytics-event='one way')
        label.col-xs-4.col-md-1 Nonstop:
            input.checkbox-space(type='checkbox' ng-model='nonStop')

div.col-xs-12
    form.form-horizontal(ng-submit='getFlights(origin, destination, embarkDate, returnDate, adults, children)')
        div.form-group
            label.col-xs-4.col-md-1.col-lg-1 Origin:*
            div.col-xs-8
                input.col-xs-8.col-md-6.col-lg-4.autosuggesttextbox(type='text' placeholder='Enter Origin Airport' ng-model='origin' bs-options='airport.name for airport in airports' bs-typeahead required)
        div.form-group
            label.col-xs-4.col-md-1.col-lg-1 Destination:*
            div.col-xs-8
                input.col-xs-8.col-md-6.col-lg-4.autosuggesttextbox(type='text' placeholder='Enter Destination Airport' ng-model='destination' bs-options='airport.name for airport in airports' bs-typeahead required)
        div.form-group
            label.col-xs-4.col-md-1.col-lg-1 Departing:*
            div.col-xs-8
                input.col-xs-8.col-md-6.col-lg-4(type='date' ng-model='embarkDate' min='{{minDate}}' required)
        div.form-group(ng-if='roundTrip')
            label.col-xs-4.col-md-1.col-lg-1 Returning:*
            div.col-xs-8
                input.col-xs-8.col-md-6.col-lg-4(type='date' ng-model='returnDate' min='{{minDate}}' required)
        div.form-group
            label.col-xs-4.col-md-1.col-lg-1 Adults:
            div.col-xs-8
                input.col-xs-8.col-md-6.col-lg-4(type='text' ng-model='adults')
        div.form-group
            label.col-xs-4.col-md-1.col-lg-1 Children:
            div.col-xs-8
                input.col-xs-8.col-md-6.col-lg-4(type='text' ng-model='children')
        div.form-group
            button.btn.btn-success.strong-button(type='submit' ng-disabled='gettingFlights' analytics-on='click' analytics-event='get flight info') Let's Go.
    div.alert.alert-danger(role='alert' ng-show='error') {{error}}

div.col-xs-12
    img.loading(src='/images/loading.gif' ng-if='gettingFlights')
    table.table.table-striped.table-bordered(ng-if='flights.length > 0')
        tr
            th Carrier
            th Flight Duration (minutes)
            th Class
            th Depart
            th Arrive
            th On Time Performance
            th Layovers
            th Price
        tr(ng-repeat='flight in flights')
            td {{::flight.pricing[0].fare[0].carrier}}
            td {{::flight.slice[0].duration}}
            td {{::flight.slice[0].segment[0].cabin.toLowerCase()}}
            td {{::flight.slice[0].segment[0].leg[0].departureTime}}
            td {{::flight.slice[0].segment[0].leg[0].arrivalTime}}
            td {{::flight.slice[0].segment[0].leg[0].onTimePerformance}}
            td {{::flight.slice[0].segment.length - 1}}
            td {{::flight.saleTotal}}