block content
    div.cover-img-container
        img.cover-img.fade-in(src='/images/cover_photo.png')
        div.fade-in.text-delay.img-text Welcome.
            div.fade-in.text-delay-two I put this here...
                div.fade-in.text-delay-three for the lolz.
        h3.center Take a look around, try the sample apps and learn about my work