.container(ng-controller='navCtrl')
    nav.navbar.navbar-default
        .container-fluid
            .navbar-header
                button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
                    span.sr-only Toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a.navbar-brand(href='/') Shawn Carrick
            #navbar.navbar-collapse.collapse
                ul.nav.navbar-nav
                    li(ng-class="homeClass")
                        a(href='/') Home
                    li(ng-class="airportsClass")
                        a(href='/airports') Airport Distance
                    li(ng-class="flightClass")
                        a(href='/flight-info') Flight Pricing
                    li(ng-class="aboutClass")
                        a(href='/about') About
                    li(ng-class="projectsClass")
                        a(href='/projects') Projects
                    li(ng-class="contactClass")
                        a(href='/contact') Contact