div.col-xs-12.col-md-12.col-lg-12
    h3.center Learn About My Projects At Work And On The Side
    h4.center (Under Construction)

p.col-xs-12
    | Generally, this section will be like my resume but with more detail about each project. It will
    | also include projects I've done in the past that no longer fit on my resume.