doctype html
html
    head
        //- Core Angular stuff
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.js")
        script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.js")

        // Other Angular Modules
        script(src='/javascripts/bower_components/lodash/dist/lodash.min.js')
        script(src='/javascripts/bower_components/angular-simple-logger/dist/angular-simple-logger.min.js')
        script(src='/javascripts/bower_components/angular-google-maps/dist/angular-google-maps.min.js')
        script(src='/javascripts/bower_components/angulartics/dist/angulartics.min.js')
        script(src='/javascripts/bower_components/angulartics-google-analytics/dist/angulartics-google-analytics.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.3/angular-animate.js')
        script(src="https://cdnjs.cloudflare.com/ajax/libs/angular-strap/2.3.8/angular-strap.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/angular-strap/2.3.8/angular-strap.tpl.min.js")
        script(src='https://cdnjs.cloudflare.com/ajax/libs/autotrack/0.6.5/autotrack.js')

        //- Bootstrap stuff
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.js")
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.css")
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css")

        //- My CSS
        link(rel='stylesheet' href='/dist/app.css')

        //- Angular Route
        script(src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.3/angular-route.js')

        //- My App
        script(src='/dist/full-app.js')

        //-  Set base URL for angular routing
        base(href='/')

        //- Make sure the pages resize properly on mobile
        meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1')
        title Example App

    body(ng-app='app')
        include ./partials/navbar.jade
        div.container(ng-view)
            block content

    //- Google Analytics Snippet
    script(src='/javascripts/ga.js')