.push-down {
    margin: 20px 0px;
}

.map {
    padding: 0px 20px;
}

.angular-google-map-container {
    height: 350px;
}

.selected {
    color: #555;
    background-color: #e7e7e7;
    background-image: -webkit-linear-gradient(top, #dbdbdb 0%, #e2e2e2 100%);
    background-image: -o-linear-gradient(top, #dbdbdb 0%, #e2e2e2 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#dbdbdb), to(#e2e2e2));
    background-image: linear-gradient(to bottom, #dbdbdb 0%, #e2e2e2 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdbdbdb', endColorstr='#ffe2e2e2', GradientType=0);
    background-repeat: repeat-x;
    -webkit-box-shadow: inset 0 3px 9px rgba(0, 0, 0, .075);
    box-shadow: inset 0 3px 9px rgba(0, 0, 0, .075);
}

.loading {
    width: 30px;
    height: 30px;
}

/*
    - workaround for using ng-strap with angular >1.4.5
    - known issue regarding dropdown position for autocomplete box
    - has open github ticket.
*/
/*.ng-hide:not(.ng-hide-animate) {*/
    /*display: block !important;*/
    /*position: absolute;*/
    /*top: -9999px;*/
    /*left: -9999px;*/
    /*&.dropdown-menu {*/
        /*height: 0;*/
        /*padding: 0;*/
    /*}*/
/*}*/